@using MvcMovie.Models
@model PurchaseModel
@{ ViewData["Title"] = "FinalizePurchase";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Finalize Purchase</h1>

<table cellpadding="2" cellspacing="2" border="1" class="table mList">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var item in ViewBag.cart)
    {
<tr>
    <td>@item.Movie.Title</td>
    <td>@item.Movie.Price</td>
    <td>@item.Quantity</td>
    <td>@(item.Movie.Price * item.Quantity)</td>
</tr>}
    <tr>
        <td align="right" colspan="3">Subtotal</td>
        <td>
            @ViewBag.subtotal
        </td>
    </tr>
    <tr>
        <td align="right" colspan="3">Taxes</td>
        <td>
            @ViewBag.tax
        </td>
    </tr>
    <tr colspan="4">
        <td align="right" colspan="3">
            Discount of $5.00 off your purchases for every $50.00 you spend!
        </td>
        <td>
            @ViewBag.discount
        </td>
    </tr>
    <tr>
        <td align="right" colspan="3">Shipping</td>
        <td>
            @ViewBag.shipping
        </td>
    </tr>
    <tr>
        <td align="right" colspan="3">Total</td>
        <td>
            @ViewBag.total
        </td>
    </tr>

</table>
<div>
    <p>Shipping Address same as Billing Address:  Yes <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck" checked="checked"> No <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck"></p>
</div>
<form asp-action="Invoice" asp-controller="Cart" onsubmit="return checkReqFields()" id="purchaseForm">
    <table class="mList float-left" width="45%">
        <tr colspan="2">
            <td>
                <h2>Billing Address</h2>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="billName"></label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.billName, new { id = "name", placeholder = "John Doe", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="billAdd1"></label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.billAdd1, new { id = "add", placeholder = "123 Easy Street", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="billAdd2"></label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.billAdd2, new { placeholder = "Apt 110", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="billState">State</label>
            </td>
            <td>
                @Html.DropDownListFor(m => Model.billState, Html.GetEnumSelectList<stateList>(), "Select State", new { id = "state", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="billZip"></label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.billZip, new { id = "zip", placeholder = "00000", @class = "form-control" })
            </td>
        </tr>
    </table>
    <div id="ifYes" style="display:none">
        <table class="mList float-right" width="45%">
            <tr colspan="2">
                <td>
                    <h2>Shipping Address</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="shipName"></label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.shipName, new { placeholder = "John Doe", @class = "form-control" , @id = "shipName"})
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="shipAdd1"></label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.shipAdd1, new { placeholder = "123 Easy Street", @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="shipAdd2"></label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.shipAdd2, new { placeholder = "Apt 110", @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <label asp-for="shipState"></label>
                    </fieldset>
                </td>
                <td>
                    @Html.DropDownListFor(m => Model.shipState, Html.GetEnumSelectList<stateList>(), "Select State", new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="shipZip"></label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.shipZip, new { placeholder = "00000", @class = "form-control" })
                </td>
            </tr>
        </table>

    </div>
    <table class="mList" width="100%">
        <tr colspan="5">
            <td>
                <h3>Credit Card</h3>
            </td>
        </tr>
        <tr>
            <td width="20%">
                <label asp-for="card"></label>
            </td>
            <td width="20%">
                @Html.TextBoxFor(m => m.card, new { id = "card",  placeholder = "0000 0000 0000 0000", @class = "form-control", @maxlength = "16", @minlength = "14" })
            </td>
            <td width="20%" align="right">
                <label asp-for="cvv"></label>
            </td>
            <td width="20%">
                @Html.TextBoxFor(m => m.cvv, new { id = "cvv", placeholder = "000", @class = "form-control" })
            </td>
            <td width="20%">
            </td>
        </tr>
        <tr>
            <td width="20%">
                <label asp-for="month"></label>
            </td>
            <td width="20%">
                @Html.DropDownListFor(m => Model.month, Html.GetEnumSelectList<monthList>(), "Select Month", new { id = "month", @class = "form-control" })
            </td>
            <td width="20%" align="right">
                <label asp-for="year"></label>
            </td>
            <td width="20%">
                @Html.DropDownListFor(m => Model.year, Html.GetEnumSelectList<yearList>(), "Select Year", new { id = "year", @class = "form-control" })
            </td>
            <td width="20%">
            </td>
        </tr>

    </table>
    <input type="submit" value="Purchase" />
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {
            var checkformValidation = function () {
                $("#purchaseForm").validate({
                    rules: {
                        name : "required",
                        add : "required",
                        state : "required",
                        zip : "required",
                        year : "required",
                        month : "required",
                        cvv : "required",
                        card : "required"
                    }
                });
            }

            $('#submitApp').click(function (e) {
                e.preventDefault();
                checkformValidation();
                if ($("#purchaseForm").valid()) {
                    alert("success");
                    return;
                } else {
                    alert("wrong");
                }
            });
        });

        document.getElementById('cardnumber').addEventListener('input', function (e) {
            e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
        });
    </script>
}
<br>
