@using System.Linq;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shopping Cart</h1>

<table cellpadding="2" cellspacing="2" border="1" class="table">
    <tr>
        <th>Option</th>
        <th>Title</th>
        <th>Thumbnail</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th>Add/Subtract</th>
    </tr>
    @foreach (var item in ViewBag.cart)
    {
        <tr>
            <td style="vertical-align: middle"><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Movie.Title">Remove All</a></td>
            <td style="vertical-align: middle">@item.Movie.Title</td>
            <td style="margin: auto"><img src=@item.Movie.ImageURL width="60" /></td>
            <td style="vertical-align: middle">@item.Movie.Price</td>
            <td style="vertical-align: middle">@item.Quantity</td>
            <td style="vertical-align: middle">@(item.Movie.Price * item.Quantity)</td>
            <td style="vertical-align: middle">
                <table class="table-borderless">
                    <tr style="text-align: center">
                        <td></td>
                        <td></td>
                        <td>
                            <!--<a asp-controller="cart" asp-action="increment" asp-route-id="@item.Movie.Title">Add</a>-->
                            <a href="@Url.Action("increment", "cart", new { id = item.Movie.Title })" title="Add One">
                               <img src="~/img/plus.png" height="20" width="20" />
                                </a>
                            </td>
                        <td>
                            <!--<a asp-controller="cart" asp-action="decrement" asp-route-id="@item.Movie.Title">Subtract</a>-->
                            <a href="@Url.Action("decrement", "cart", new { id = item.Movie.Title })" title="Remove One">
                                <img src="~/img/minus.png" height="20" width="20" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
    <tr>
        <td align="right" colspan="6">Subtotal</td>
        <td>
            @ViewBag.subtotal
        </td>
    </tr>
    <tr>
        <td align="right" colspan="6">Taxes</td>
        <td>
            @ViewBag.tax
        </td>
    </tr>
    <tr colspan="7">
        <td align="right" colspan="6">
            Discount of $5.00 off your purchases for every $50.00 you spend!
        </td>
        <td>
            @ViewBag.discount
        </td>
    </tr>
    <tr>
        <td align="right" colspan="6">Shipping</td>
        <td>
            @ViewBag.shipping
        </td>
    </tr>
    <tr>
        <td align="right" colspan="6">Total</td>
        <td>
            @ViewBag.total
        </td>
    </tr>

</table>
<br>
<table width="100%" class="table-borderless">
    <tr>
        <td>
            <a asp-controller="movies" asp-action="MoviesByGenre" asp-route-id="@ViewBag.last">Continue Shopping</a>
            <!--<a href="##" onClick="history.go(-1); return false;">Continue Shopping</a>-->
        </td>
        <td>
            <a asp-controller="cart" asp-action="FinalizePurchase">Purchase Now</a>
        </td>
    </tr>
</table>

