@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<MvcMovie.Models.Movie>

@if (SignInManager.IsSignedIn(User))
{
    @if (UserManager.GetUserName(User) == "sonnierd3916@uhcl.edu")
    {
        {
            ViewData["Title"] = "Movie Administration";
        }

        <h1>Movie Database Administration</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <form asp-controller="Movies" asp-action="Index">
            <p>
                <input type="radio" id="title" name="criteria" value="Title" checked="checked" />
                <label for="criteria">Title</label>
                <input type="radio" id="genre" name="criteria" value="Genre" />
                <label for="criteria">Genre</label>
                <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Thumbnail
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.Title))
                {
                    <tr>
                        <td>
                            <a href=@Html.DisplayFor(modelItem => item.TrailerURL) target="_blank"> <img src=@Html.DisplayFor(modelItem => item.ImageURL) alt="Trailer" width="35" height="55" /> </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Access Denied!</p>
    }
}