@model IEnumerable<MvcMovie.Models.Movie>
@using MvcMovie.Helpers;

@{
    ViewData["Title"] = "Daryl's Movie MvcMovie";
}

<h1>@ViewBag.genre</h1>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Description
                </th>
                <th>
                    Purchase
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Title))
            {

                <tr class="mList">
                    <td>
                        <div class="player">
                            <a href="#" target="_blank" class="youtube-link" youtubeid=@Html.DisplayFor(modelItem => item.TrailerURL)> <img class="thumbnail" src=@Html.DisplayFor(modelItem => item.ImageURL) alt="Trailer" /> </a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <button id=@HelperClass.Combine(Html.DisplayTextFor(modelItem => item.Title), string.Empty) title="Movie Description" class="btn-primary" onclick="displayModal(this.id)">Description</button>
                        
                        <div id=@HelperClass.Combine(Html.DisplayTextFor(modelItem => item.Title), "_modal") class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>@Html.DisplayTextFor(modelItem => item.Description)</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <!--<a asp-controller="Cart" asp-action="buy" asp-route-id="@item.Title">Add to cart</a>-->
                        <input type="button" class="btn-primary" title="Add to Cart" value="Add to Cart" onclick="location.href='@Url.Action("buy", "cart", new { id = item.Title })'" />
                    </td>
                    <td>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Movies">Browse Genres</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Github button for demo page -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- GRT Youtube Popup -->
    <script src="~/js/grt-youtube-popup.js"></script>
    <script>$(".youtube-link").grtyoutube({ autoPlay: true });</script>

</body>
